.user-list-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: black;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

table,
th,
td {
  border: 1px solid black;
}

th {
  background: black;
  color: white;
  padding: 1rem;
}
td {
  padding: 1rem;
}
.userlist-btn {
  margin-right: 5px;
  padding: 3px;
  border: 1px solid black;
  background: rgb(182, 238, 255);
  border-radius: 8px;
}

