.home-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.left-container {
  display: flex;
  margin-top: 3rem;
}

@media (min-width: 768px) and (max-width: 1040px) {
  .home-container {
    display: flex;
    flex-direction: column;
    height: max-content;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .home-container {
    display: flex;
    flex-direction: column;
    height: max-content;
  }
}
